<!--footer.html-->
<footer>
    <div class="footleft">
        <a href="/settings" style="text-decoration: none !important;">
            <div title="Изменить настройки" class="hicon hicon32"><i class="fas fa-wrench fa-2x"></i></div>
        </a>
    </div>
    <!--div class="footcenter">
        <p>Copyright 2022</p>
    </div-->
    <div class="footright">
        <a class="fancyabout" href="/info" style="text-decoration: none !important;">
            <div title="О Программе" class="hicon hicon32"><i class="fas fa-info-circle fa-2x"></i></div>
        </a>
    </div>
</footer>
</div>
</body>

</html>