<!--series1.html-->

<!-- header -->
{{ template "header.html" .}}
<section>
    <div class="row">
        {{ range .payload }}
        <div class="series1-ffc-col">
            <div class="panel-title">
                <h2><a href="/booksByGenreId?GenreId={{ .GenreId }}" style="display: block;">{{ .GenreName }}</a></h2>
            </div>
            <div class="panel-body">
                <span class="badge" style="text-align: right;">{{ .CountBooks }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</section>
<!-- footer -->
{{ template "footer.html" .}}