<!--publishers.html-->

<!-- header -->
{{ template "header.html" .}}
<section>
    <div class="row">
        {{ range .payload }}
        <div class="publishers-ffc-col">
            <div class="panel-title">
                <h2><a href="/booksByPublisherId?PublisherId={{ .PublisherId }}" style="display: block;">{{ .PublisherName }}</a></h2>
            </div>
            <div class="panel-body">
                <span class="badge" style="text-align: right;">{{ .PublishersCount }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</section>
<!-- footer -->
{{ template "footer.html" .}}